@model Order



<style>
    .quantity-container {
        display: inline-block;
        border: 2px solid #333;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 24px;
    }

    .quantity {
        font-weight: bold;
    }

    .plus-minus-icons {
        margin-top: 10px;
    }

    .plus-icon {
        color: green;
        font-size: 24px;
        cursor: pointer;
        border: none;
    }

    .minus-icon {
        color: red;
        font-size: 24px;
        cursor: pointer;
        border: none;
    }
</style>

    <div class="row" style="min-height: 100vh ;">
        <p>Orders is empty.</p>
    </div>

