



        <section class="vh-90" bg-image"
         style="background-image: url('https://thumbs.dreamstime.com/b/watercolor-banner-beauty-salon-background-drawn-hand-set-cosmetics-rose-website-design-pages-social-networks-137421533.jpg');
background-repeat:no-repeat ;
background-size:cover ;

">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; background-color:plum ;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form class="form-inline" method="post" action="/auth/Signup">
                <div class="form-outline mb-4">

                                    <label class="form-label" for="username" style="color:black ; position:center ;">User Name:</label>
                                    <input type="text" name="username" class="form-control" id="username">

                                </div>

                <div class="form-outline mb-4">

                                    <label class="form-label" for="email">Email:</label>
                                    <input type="text" name="email" class="form-control" id="email">

                </div>

                <div class="form-outline mb-4">

                                    <label class="form-label" for="password">Password:</label>
                                    <input type="password" name="password" class="form-control" id="password">

                                </div>

                <div class="form-outline mb-4">

                                    <label class="form-label" for="phone">Phone:</label>
                                    <input type="text" name="phone" class="form-control" id="phone">
                </div>

                          
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-outline-light btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a asp-controller="Auth" asp-action="LogIn"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div asp-validation-summary="All"></div>