@model List<CategoryDTO>
@using Microsoft.AspNetCore.Identity;
@using E_commerce.Models ; 
@inject SignInManager<ApplicationUser> signInManager

    <h4>Category Page</h4>
    <hr />
@if (signInManager.IsSignedIn(User) && (User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p> }
    <table border=1 class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Category" asp-action="Details" asp-route-id=@item.Id class="btn btn-info">Details</a>
                </td>
            </tr>
}
        </tbody>
    </table>
    <div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to home page</a>
    </div>
