<style>
    /* Background image for the body */
    body {
        background-image: url('https://penji.co/wp-content/uploads/2019/10/Ecommerce-App-768x377.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    /* Styling for the welcoming message */
    div.welcomemessage {
        text-align:start; /* Center align the text */
        font-size: 36px; /* Adjust the font size */
        color: brown; /* Text color */
        padding-top: 30px;/*/spacing from the top */
    }
</style>

<div class="welcomemessage">
    Welcome to our E-commerce App
</div>
