<style>
    /* Background image for the body */

    .welcomemessage {
        display:flex ;
        align-items:center ;
        justify-content: space-between ;
        padding-right:40px ;
        margin-right:100px ;
    }
    /* Styling for the welcoming message */
    .welcom {
        padding-right:20px ;
       
      
    }
</style>

    <div class="welcomemessage" style="min-height: 100vh ;">
    <img class="welcom" src="./images/faceshopb.png" />
    <img class="welcome" src="./images/beauty.png" />
</div>
