<style>
    /* Background image for the body */
  
    div{
        display:flex ;
        align-items:center ;
        justify-content: center ;
    }
    /* Styling for the welcoming message */
    div.welcome {
       
      
    }
</style>

    <div class="welcomemessage" style="min-height: 100vh ;">
    <img class="welcome" src="./images/faceshopb.png" />
    <img class="welcome" src="./images/beauty.png" />
</div>
