<style>
    /* Background image for the body */
  

    /* Styling for the welcoming message */
    div.welcomemessage {
        text-align:start; /* Center align the text */
        font-size: 36px; /* Adjust the font size */
        color: brown; /* Text color */
        padding-top: 30px;/*/spacing from the top */
    }
</style>

    <div class="welcomemessage" style="min-height: 100vh ;">
    Welcome to our E-commerce App
</div>
