<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center; padding: 20px; border-radius: 10px; color: #000000;">
        <img src="~/images/thank.png" alt="Thank You Image" style="width: 500px; height: 500px; margin-bottom: 20px;">
        <h1 style="font-size: 36px;">Thank you for shopping with us!</h1>
        <p>Your purchase details have been sent to your email. Come back again soon.</p>
    </div>
</div>
