<h1>Thank you for shopping with us , you will receive email with your purchase </h1>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark , m-4">Back to home page</a>
</div>